[submodule "lib/caniot-lib"]
	path = lib/caniot-lib
	url = https://github.com/lucasdietrich/caniot-lib.git
[submodule "lib/lua"]
	path = lib/lua
	url = https://github.com/lua/lua.git
[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = git@github.com:Mbed-TLS/mbedtls.git
[submodule "lib/embedc-url"]
	path = lib/embedc-url
	url = https://github.com/lucasdietrich/embedc-url
